<div>
  <div class="uk-padding">
    <fieldset class="uk-fieldset">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="uk-card uk-card-default uk-card-body">
            <div class="list-group">
              <div class="mypadding">
                <div class="list-group-item  list-group-item-action  flex-column align-items-start ">
                  <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <img class="uk-border-circle" width="50" height="50" src="{{data.userphoto}}">
                      </div>
                      <div class="uk-width-expand">
                        <div *ngIf="isuid === data.uid" class="uk-modal-close-default">
                          <li class="nav-item dropdown">
                            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span uk-icon="more-vertical"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav  ">
                                <button href="#edit_lesson" class="dropdown-item " uk-toggle>
                                  <span uk-icon="pencil"></span> Edit </button>
                                <div id="edit_lesson" class="uk-modal-full" uk-modal>
                                  <div class="uk-modal-dialog">
                                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                    <div class="uk-grid-collapse ">
                                      <div class="uk-padding-large" uk-height-viewport>
                                        <div class="uk-padding">
                                          <fieldset class="uk-fieldset">
                                            <div class="row">
                                              <div class="offset-lg-2 offset-md-2 col-12 col-lf-8 col-md-8 col-sm-12">
                                                <div class="uk-card uk-card-default uk-card-body">
                                                  <h1>Create a lesson</h1>
                                                  <div class="uk-margin ">
                                                    <p class="uk-text-large">
                                                      <span class="fas fa-chalkboard"></span> Subject </p>
                                                    <div class="form-inline ">
                                                      <input class="uk-input uk-width-5-6@s " type="text" value={{data.subject}} #Subject placeholder="Subject">
                                                    </div>
                                                  </div>
                                                  <div class="uk-margin ">
                                                    <p class="uk-text-large ">
                                                      <span class="fas fa-list-ol"></span> Lesson Number</p>
                                                    <div class="form-inline ">
                                                      <input class="uk-input uk-width-5-6@s " type="text" value={{data.lNumber}} #lNumber placeholder="Lesson Number">
                                                    </div>
                                                  </div>
                                                  <div class="uk-margin ">
                                                    <p class="uk-text-large ">
                                                      <span class="fas fa-stopwatch"></span> Lesson start time</p>
                                                    <div class="form-inline ">
                                                      <input class="uk-input uk-width-5-6@s " type="text" value={{data.lStartTime}} #lStartTime placeholder="time / am or pm">
                                                    </div>
                                                  </div>
                                                  <div class="uk-margin ">
                                                    <p class="uk-text-large ">
                                                      <span class="fas fa-clock"></span> Number of lesson hours</p>
                                                    <div class="form-inline ">
                                                      <input class="uk-input uk-width-5-6@s " type="text" value={{data.NumberLessonsHours}} #NumberLessonsHours placeholder="hours Number">
                                                    </div>
                                                  </div>
                                                  <div class="uk-margin ">
                                                    <p class="uk-text-large ">
                                                      <span class="fas fa-link"></span> Lesson link from Zoom</p>
                                                    <div class="form-inline ">
                                                      <input class="uk-input uk-width-5-6@s " type="text" value={{data.zoomLink}} #zoomLink placeholder="zoom link">
                                                    </div>
                                                  </div>
                                                  <div class="uk-margin">
                                                    <p class="uk-text-large ">
                                                      <span class="fas fa-sticky-note"></span> Notes</p>
                                                    <div class="form-inline ">
                                                      <textarea class="uk-textarea uk-width-5-6@s" rows="5" value={{data.notes}} #notes placeholder="Notes"></textarea>
                                                    </div>
                                                  </div>
                                                  <div uk-margin></div>
                                                  <div class="form-inline " uk-margin>
                                                    <button class="uk-button uk-button-primary uk-text-capitalize" type="button" onclick="UIkit.notification({message: 'Lesson successfully updated.', status: 'success'})"
                                                      (click)=edit(iskey,Subject.value,lNumber.value,lStartTime.value,NumberLessonsHours.value,zoomLink.value,notes.value)>Edit</button>
                                                    <button class="uk-button uk-button-default uk-text-capitalize uk-modal-close" type="button">cancel</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <button class="dropdown-item" (click)=delete(iskey)>
                                  <span uk-icon="trash"></span> Delete </button>
                              </ul>
                            </div>
                          </li>
                        </div>
                        <h6 class="uk-card-title uk-margin-remove-bottom">{{data.name}}</h6>
                        <p class="uk-text-meta uk-margin-remove-top">
                          <time datetime="2018-04-01T19:00">{{data.date}}</time>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="uk-card-body">
                    <div class="uk-text-center">
                      <h3 class="">{{data.subject}}</h3>
                    </div>
                    <div class="uk-margin ">
                      <p class="uk-text-large">
                        <span class="fas fa-chalkboard"></span> Subject </p>
                      <div class="form-inline ">
                        <span>{{data.subject}}</span>
                      </div>
                    </div>
                    <div class="uk-margin ">
                      <p class="uk-text-large ">
                        <span class="fas fa-list-ol"></span> Lesson Number</p>
                      <div class="form-inline ">
                        <span>{{data.lNumber}}</span>
                      </div>
                    </div>
                    <div class="uk-margin ">
                      <p class="uk-text-large ">
                        <span class="fas fa-stopwatch"></span> Lesson start time</p>
                      <div class="form-inline ">
                        <span>{{data.lStartTime}}</span>
                      </div>
                    </div>
                    <div class="uk-margin ">
                      <p class="uk-text-large ">
                        <span class="fas fa-clock"></span> Number of lesson hours</p>
                      <div class="form-inline ">
                        <span>{{data.NumberLessonsHours}}</span>
                      </div>
                    </div>
                    <div class="uk-margin ">
                      <p class="uk-text-large ">
                        <span class="fas fa-link"></span> Lesson link from Zoom</p>
                      <div class="form-inline ">
                        <a href={{data.zoomLink}}>{{data.zoomLink}}</a>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <p class="uk-text-large ">
                        <span class="fas fa-sticky-note"></span> Notes</p>
                      <div class="form-inline ">
                        <span>{{data.notes}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="uk-card-footer ">
                    <div class="container">
                      <div class="row ">
                        <div class="col-6 col-md-6 col-sm-6 clo-lg-6  ">
                          <button class="uk-button-primary mysize" (click)=come(iskey)>
                            <span class="fas fa-walking"></span> Come {{data.allcome}} </button>
                        </div>
                        <div class="col-6 col-md-6 col-sm-6 clo-lg-6 uk-text-center ">
                          <button href="#share" class="uk-button-primary mysize " uk-toggle>
                            <span class="fas fa-share-square"></span>share</button>
                          <div id="share" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-text-center">
                              <button class="uk-modal-close-default" type="button" uk-close></button>
                              <h2 class="uk-modal-title">Link share Lesson</h2>
                              <div class="col-auto" id="sendreset">
                                <label class="sr-only" for="inlineFormInputGroup"></label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">Link</div>
                                  </div>
                                  <input value="{{host}}" type="text" class="form-control">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>

