.my-margin {
    margin: 6px
}
.mypadding {
    padding: 22px 0px 0px 0px
}
.uk-card-body {
    padding: 10px 40px;
}

.mysize {
    font-size: 13px;
    padding: 9px 9px;
}
.dropdown-menu { 
    min-width: 7rem;
}
.my-padding {
    padding: 40px 10px
}